@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

main {
  padding: 10vh 10vw;

  h1 {
    font: 100 8vmax/1 "raleway";
    color: #333;
    margin-bottom: 70px;
  }

  .trafficToggle {
    display: inline-block;
    padding: 10px 16px;
    border: none;
    background-image: linear-gradient(45deg, rgb(86, 255, 255), rgb(0, 166, 255));
    box-shadow: 10px 10px 20px rgb(73, 228, 255, 0.5);
    margin-bottom: 50px;
    border-radius: 3px;
    font:900 0.8rem/1 "raleway";
    color: #fff;
    cursor: pointer;

    &.on {
      background-image: linear-gradient(45deg, rgb(238, 86, 255), rgb(212, 0, 255));
    box-shadow: 10px 10px 20px rgba(209, 73, 255, 0.5);
    }
  }
  #map {
    width: 100%;
    height: 60vh;
    background: #000;
  }
}